<html>
<head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="includes/js/modernizr-2.6.2.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="keywords" contents="tech trends,technology,information,internet,computer,system,research,storage">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Information technology in India is an industry consisting of two major components: IT services and business process outsourcing (BPO).">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js">
        <link href="https://fonts.googleapis.com/css?family=Ovo|Sigmar+One" rel="stylesheet">
</head>

<body>

        <div >
                <h1>Upcoming Movies</h1>
                <section class="d-flex flex-sm-row flex-column row-h1">
                        <article class="p-4 item-h1">
                                <div class="card" style="width:380px">
                                        <img class="card-img-top" src="/img/geeta.jpg " alt="Card image" width=100px height=250px>
                                        <div class="card-body">
                                                <h4 class="card-title">Geeta govindam</h4>
                                               
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                </div>
                        </article>
                        <br>
                        <article class="p-4 item-h1">
                                
                                <div class="card" style="width:380px">
                                        <div class="card-body">
                                                        <img class="card-img-top" src="/img/gold.jpg " alt="Card image" width=100px height=250px>
                                               
                                                        <h4 class="card-title">Gold</h4>
                                              
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                       
                                </div>
                        </article>
                        <article class="p-4 item-h1">
                                <div class="card" style="width:380px">
                                        <div class="card-body">
                                                        <img class="card-img-top" src="/img/viswa.jpg " alt="Card image"  width=100px height=250px>
                                                <h4 class="card-title">Viswa </h4>
                                               
                                                <a href="#" class="btn btn-primary">See Profile</a>
                                        </div>
                                       
                                </div>
                        </article>
                </section>
        </div>
</body>

</html>
